:root {
    --initial: #fff;
    --primary-text: #81878f;
    --secondary-text: #1f2949;
    --transparent-bg: #f8f9fa;
    --radio-bg: #f8f9fa;
    --radio-dot: #d6d8df;
    --primary-btn: #4467d6;
    --secondary-btn: #eaeef3;
    --tertiary-btn: #717881;
    --switch-bg: #e2e7eb;
    --switch-dot: #d71830;
    --switch-lebel: #969696;
    --switch-active: #4bd863;
    --border-color: #bababa;
    --border-color-alt: #dcdbdc;
    --text-color: #666666;
    --text-success: #055a11;
  }

